streamlit==1.29.0
streamlit-cookies-manager==0.2.0
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.6
pandas
Pillow
matplotlib
seaborn
altair
requests
pymongo
pytz
fpdf==1.7.2
bcrypt
pyperclip